<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
  </head>
  <body >
    <p>{{1 + 6}}<p>
    <br>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>
    <input type="text" placeholder="What is your name?" ng-model="name">
    <input type="text" placeholder="What is your name?" ng-model="greeting">
    <h1>My name is: {{name}}</h1>
    <select ng-model='string'>
      <option value='Dog'>Dogs</option>
      <option value='Cat'>Cats</option>
      <option value='Dogs and Cats'>Dogs and Cats</option>
      <option value='Neither'>Neither</option>
    </select>
    <p>1 + 2 = {{1 + 2}}</p>
    <p>My name is {{"BoJack" + " Horseman"}}</p>
    <p>The array [99,43,22] is {{ [99,43,22].length }} items long.</p>
    <p>{{3.1459265359 | currency:'€'}}</p>
    <p>Please say something</p>
    <input type='text' ng-model='something'>
    <p>Yelling: {{ something | uppercase }}</p>
    <p>Whispering: {{ something | lowercase}}</p>
    <p>{{3.14159265359 | number:3}}</p>
    <p>{{3.14159265359 | number:6}}</p>
    <p>{{3.14159265359 | number:1}}</p>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js'></script>
  </body>
</html>
